* {
   margin: 0;
   padding: 0;
   font-family: 'Lora', serif;
}
#hundh,
#ourStory {
   display: flex;
   justify-content: flex-end;
}
#hundh div,
#ourStory div,
#featured article:first-of-type {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}
#hundh h1 {
   font-size: 3em;
   letter-spacing: 0.2em;
}
#hundh div p {
   padding-top: 1em;
}
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #2e2e2e;
   padding-top: 1em;
   padding-bottom: 1em;
   position: sticky;
   top: 0;
}
nav ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
nav ul li {
   list-style: none;
   padding-right: 1.5em;
}
nav ul li a {
   font-family: 'Lora', serif;
   color: #fff;
   text-decoration: none;
}
#ourStory {
   background: #2e2e2e;
}
#ourStory div {
   padding-left: 2em;
}
#ourStory h1 {
   font-size: 2em;
   color: #fff;
}
#ourStory p {
   padding-top: 0.8em;
   padding-bottom: 1.5em;
   color: #fff;
   text-align: left;
}
#featured {
   color: #2e2e2e;
   padding-top: 10em;
   padding-bottom: 10em;
}
#featured h1 {
   text-align: center;
   font-size: 3.5em;
   padding-bottom: 0.5em;
}
#featured p:first-of-type {
   line-height: 2;
   letter-spacing: 0.1em;
   word-spacing: 0.2em;
   padding-left: 30%;
   padding-right: 30%;
   padding-bottom: 4em;
}
#featured article:nth-of-type(2) {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-left: 3em;
}
#featured img {
   width: 90%;
}
#featured iframe {
   display: block;
   margin: 0 auto;
}
input[type='text'],
textarea {
   padding: 1em;
   display: block;
   border: none;
   border-radius: 5%;
   margin-top: 1em;
   margin-bottom: 2em;
   width: 100%;
}
#getIntouch {
   background: #2e2e2e;
   color: #fff;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-right: 5em;
   padding-top: 5em;
   padding-bottom: 5em;
}
#getIntouch input {
   width: 80px;
}
#getIntouch div {
   margin-left: 3em;
}
#getIntouch h1 {
   font-size: 3.3em;
   padding-bottom: 1em;
}
#getIntouch p {
   line-height: 120%;
   word-spacing: 5px;
   padding-bottom: 2em;
   text-align: left;
   width: 53%;
}
footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #1d2c2f;
   color: #fff;
   padding: 1em 3em;
}
footer nav {
   background: #1d2c2f;
}
footer a {
   text-decoration: none;
}
